



    
      <!-- put sortable here-->

    <div id="pins">
        <%= render 'pins' %>
    </div>

    <div class="center">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>

