<div class="jumbotron-">
	<h3>Where does campus need fixing?
		<span class="glyphicon glyphicon-arrow-right"></span>
		Take a photo 
		<span class="glyphicon glyphicon-arrow-right"></span>
		Post your concern<br/>
		<h4>#udubstheshit  #fixmyschool #prettysureitsmyright  #cantstopus</h4>
	</h3>
	<p>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  	</p>    
</div>