<h1>About us</h1>
<h4>We're like anyone, hard working, practical, and fun or at least we try to. <br/> 
<br/>
We have so many opinions and want to be heard.  I guess that what college does to you. <br/>
<br/>
To solve this issue we have created a tool to magnify our voices! <br/>
<br/>
So finally, we present you fixthiscampus.com! Hurrah!<br/>
<br/>
We encourage you to take pictures of things you think could be improved on campus and share!  <br/>
<br/>
Who knows, with enough people, maybe they'll be fixed quicker! <br/>
<br/>
<br/>
<br/>
<br/>

Thanks everyone,
<br/>
<br/>
fixthiscampus staff
<br/>
<br/>
<br/>


Talk to us or give us feedback!
fixthiscampus@gmail.com
</h4>
<br/>
<br/>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Send us cool hashtags, or a Happy Birthday wish for us to post up on the home page!
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        We'll take a few hashtags from anyone! #hashtags please! 
        If you want to say happy birthday to someone special let us know ahead of time and we'll post up a 
        happy birthday "someone" on the homepage! If there's a line, then we'll have to go by whoever comes first.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          News and Updates
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        We are brainstorming what other things we should put into the website.  Remember to give us suggestions!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Want to work for fixthiscampus?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Hit us up! at fixthiscampusjobs@gmail.com.  We're pretty small, but we do need some help.
        We need help in some programming stuff.  We need marketing also.  Hope that we get bigger!
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
