<h1>About us</h1>
<h4>Speak up! Suggest a worship song. Thank your pastor or right a review on a church. <br/> 
<br/>
If you have a prayer request, feel free to post it up.  <br/>
<br/>
Vote for your pastor a person you think should receive some praise this week! Sned it in and after we tally<br/v>
<br/>
up the votes, we will see who wins the award! <br/>
<br/>
<br/>

Thanks everyone,
<br/>
<br/>
<h3><i>thyworship</i></h3><h4> staff </h4>
<br/>
<br/>


<address>
  <strong>Thyworship </strong><br>
  PO BOX 1882 <br>
  WOODINVILLE, WA 98072<br>
  
</address>

<address>
  <strong>Send Your Feedback and or Votes To: </strong><br>
  <a href="mailto:#">thyworshipmail@gmail.com</a>
</address>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          CHURCH OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       
      <img src="http://i762.photobucket.com/albums/xx270/akimn89/bentleyblack_zps8cf18620.jpg" style="max-width:100%" alt="Milford Sound in New Zealand" />
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          PASTOR OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Picture some good words, search keys, recent messages: titles.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          PASTOR'S SPOUSE OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        Picture, what she/he does usually, how and why her/his congregation loves them.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          YOUTH PASTOR OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in">
      <div class="panel-body">
        Years of service, congregation, what makes them different
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          WORSHIP TEAM OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in">
      <div class="panel-body">
        Church affiliation, members, how their different, concert schedule, style, testimony
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          WORSHIP LEADER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse in">
      <div class="panel-body">
        Name, church affiliated, style, picture
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          CHILDRENS MINISTRY OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse in">
      <div class="panel-body">
        pictures, church affiliation, staff that make it work, what are they doing differently
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          ELDER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        Church affiliated with, years of helping out the church, what they have done, picture
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
          PEOPLE'S CHOICE: MEMBER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse in">
      <div class="panel-body">
        Church affiliated with, a few words to bless this person from our editor
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          MISSION FIELD MANAGER OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse in">
      <div class="panel-body">
        Where in the world, what they do, how long, what they are commited for, send us the money, we'll send it to them. For security purposes.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
          BUSINESS OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse in">
      <div class="panel-body">
        Business owner, what they serve, what church the owner is affiliated to, SPONSORED!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
          RESTAURANT OF THE WEEK
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse in">
      <div class="panel-body">
        Business owner, what they serve, what church the owner is affiliated to, SPONSORED!
      </div>
    </div>
  </div>
</div>
  </div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
